<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082483613575-o2hbdc96daiblc0arlevl10vu38uqbsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082483613575-o2hbdc96daiblc0arlevl10vu38uqbsp</string>
	<key>API_KEY</key>
	<string>AIzaSyBqClzJJOjfdGLPzjmQjw8YXUXvjNP1j10</string>
	<key>GCM_SENDER_ID</key>
	<string>1082483613575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.origon.adminapp</string>
	<key>PROJECT_ID</key>
	<string>admin-app-f300b</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-app-f300b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082483613575:ios:cf7fd70a9374d90d1abd22</string>
</dict>
</plist>